
<div class="Box">
    <input type="text" name="ChatBox" id="ChatBox">
</div>

<div id="Chat">

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>